{%- assign id = section.id -%}

{% style %}
#shopify-section-{{ id }} {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
padding-left: {{ section.settings.padding_left }}px;
padding-right: {{ section.settings.padding_right }}px;
}

.photos { display: flex; flex-direction: row; background-color: {{ section.settings.photos-background-color }}; padding: 10px; flex-wrap: wrap; margin-bottom: 20px; }
.photo { display: flex; flex-direction: column; margin: 10px; }
.photo div { color: {{ section.settings.text-color }}; }

    .aspect-ratio-good { background-color: #c3f6c3; }
    .aspect-ratio-bad { background-color: #f6c3dd; }

{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section class="featured-video
                section
                {{ section.settings.css_class }}
                is-width-{{ section.settings.width }}
                {% if section.settings.mobile_text_below_video == true %}
                mobile-text--below-media
                {% else %}
                mobile-text--over-media
                {% endif %}
                {% if video_exists %} has-video-added {% endif %}
                video-controls-enabled--{{ section.settings.controls }}"
         {% if section.settings.animation != "none" %}
         data-scroll-class="{{ section.settings.animation }}"
         {% endif %}>
  <div class="container
              video__container
              {% if section.settings.width == 'wide' or section.settings.width == 'half' %}
              equal-columns--outside-trim
              {% endif %}">

    
    <div class="page-width page-width--standard">

      <div class="product-photos">

        {% paginate collections['all'].products by 50 %}
        {% for product in collections['all'].products %}
        <p><a href="/admin/products/{{product.id}}" target="_blank">{{product.title}}</a></p>
        <div class="photos">
          {% for image in product.images %}
            {% assign aspect-ratio = image.aspect_ratio | times: 1 | round: 3 %}
          <div class="photo {% if aspect-ratio == 1.0 %}aspect-ratio-good{% else %}aspect-ratio-bad{% endif %}">
            <div><img src="{{ image.src | product_img_url: '250x250' }}"></div>
            <div>Dimensions: {{ image.height }}px X {{ image.width }}px</div>
            <div>Aspect Ratio: {{ aspect-ratio }}</div>
            {% if aspect-ratio > 1.0 %}
              <div>Need to crop sides</div>
            {%  elsif aspect-ratio < 1.0 %}
              <div>Need to crop top and bottom</div>
              {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endfor %}        


        <div class="container container--pagination">
          <div class="one-whole column text-align-center">
            {%- assign load_more_text = 'collections.general.pagination_button' | t -%}
            {% render 'pagination',
                  paginate: paginate,
            pagination_type: basic_pagination,
            load_more_text: load_more_text
            %}
          </div>
        </div>    

        {% endpaginate %}

      </div> 

    </div>
  </div>

</section>


{% schema %}
{
"name": "Product photos",
"class": "product-photos-section overlaid-header-option",
"settings": [
{
"type": "header",
"content": "Section headings"
},
{
"type": "color",
"id": "text-color",
"label": "Text"
},
{
"type": "color",
"id": "photos-background-color",
"label": "Background"
},



{
"type": "header",
"content": "Layout"
},
{
"type": "range",
"id": "padding_top",
"label": "Top spacing",
"min": 0,
"max": 80,
"default": 20,
"unit": "px"
},
{
"type": "range",
"id": "padding_bottom",
"label": "Bottom spacing",
"min": 0,
"max": 80,
"default": 0,
"unit": "px"
},
{
"type": "range",
"id": "padding_left",
"label": "Left spacing",
"min": 0,
"max": 80,
"default": 0,
"unit": "px"
},
{
"type": "range",
"id": "padding_right",
"label": "Right spacing",
"default": 0,
"min": 0,
"max": 80,
"unit": "px"
},
{
"type": "select",
"id": "animation",
"label": "Animation",
"default": "none",
"options": [
{
"value": "none",
"label": "None"
},
{
"value": "fadeIn",
"label": "Fade in"
},
{
"value": "fadeInDown",
"label": "Fade in down"
},
{
"value": "fadeInLeft",
"label": "Fade in left"
},
{
"value": "fadeInRight",
"label": "Fade in right"
},
{
"value": "slideInLeft",
"label": "Slide in left"
},
{
"value": "slideInRight",
"label": "Slide in right"
},
{
"value": "zoomIn",
"label": "Zoom in"
}
]
},
{
"type": "header",
"content": "Advanced",
"info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
},
{
"type": "text",
"id": "css_class",
"label": "CSS Class"
},
{
"type": "textarea",
"id": "custom_css",
"label": "Custom CSS"
}
],

"presets": [{
"name": "Product photos",
"category": "JadePuma"
}]
}

{% endschema %}