{% comment %}
 
Custom section created by JadePuma
Instructions - https://jadepuma.com/blogs/shopify-tutorials/flex-product-image-review-tool
Last editted - 26Jan24
 
{% endcomment %}

{%- assign id = section.id -%}

{% style %}
#shopify-section-{{ id }} {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
padding-left: {{ section.settings.padding_left }}px;
padding-right: {{ section.settings.padding_right }}px;
}

.photos { display: flex; flex-direction: row; background-color: {{ section.settings.photos-background-color }}; padding: 10px; flex-wrap: wrap; margin-bottom: 20px; justify-content: center; }
.photo { 
  display: flex; flex-direction: column; margin: 10px; 
  {% if section.settings.photo-size == 'small' %}
  width: 250px;
  {% elsif section.settings.photo-size == 'medium' %}
  width: 400px;
  {% else %}
  width: 600px;
  {% endif %}  
}
.photo div { color: {{ section.settings.text-color }}; }

    .aspect-ratio-good { background-color: #c3f6c3; }
    .aspect-ratio-bad { background-color: #f6c3dd; }

{% endstyle %}

{% assign target-aspect-ratio = section.settings.target-aspect-ratio | times: 1 |  round: 3 %}

{% comment %} HTML markup {% endcomment %}
<section class="featured-video
                section
                {{ section.settings.css_class }}
                is-width-{{ section.settings.width }}
                {% if section.settings.mobile_text_below_video == true %}
                mobile-text--below-media
                {% else %}
                mobile-text--over-media
                {% endif %}
                {% if video_exists %} has-video-added {% endif %}
                video-controls-enabled--{{ section.settings.controls }}"
         {% if section.settings.animation != "none" %}
         data-scroll-class="{{ section.settings.animation }}"
         {% endif %}>
  <div class="container
              video__container
              {% if section.settings.width == 'wide' or section.settings.width == 'half' %}
              equal-columns--outside-trim
              {% endif %}">

    
    <div class="page-width page-width--standard">

      <h2>Desired Aspect Ratio - {{ target-aspect-ratio }}</h2>

      <div class="product-photos">

        {% paginate collections['all'].products by section.settings.pagination_limit %}
        {% for product in collections['all'].products %}
        <p><a href="/admin/products/{{product.id}}" target="_blank">{{product.title}}</a></p>
        <div class="photos">
          {% for image in product.images %}
            {% assign aspect-ratio = image.aspect_ratio | times: 1 | round: 3 %}
          <div class="photo {% if aspect-ratio == target-aspect-ratio %}aspect-ratio-good{% else %}aspect-ratio-bad{% endif %}">
            <div>
              {% if section.settings.photo-size == 'small' %}
              <img src="{{ image.src | product_img_url: '250x250' }}">
                {% elsif section.settings.photo-size == 'medium' %}
                <img src="{{ image.src | product_img_url: '400x400' }}">
                {% else %}
                <img src="{{ image.src | product_img_url: '600x600' }}">
                {% endif %}
            </div>
            <div>Dimensions: {{ image.height }}px X {{ image.width }}px</div>
            <div>Aspect Ratio: {{ aspect-ratio }}</div>
            {% if aspect-ratio > target-aspect-ratio %}
              <p>{{ section.settings.instructions-too-wide }}</p>
            {%  elsif aspect-ratio < target-aspect-ratio %}
              <p>{{ section.settings.instructions-too-tall }}</p>
              {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endfor %}        


        <div class="container container--pagination">
          <div class="one-whole column text-align-center">
            {%- assign load_more_text = 'collections.general.pagination_button' | t -%}
            {% render 'pagination',
                  paginate: paginate,
            pagination_type: basic_pagination,
            load_more_text: load_more_text
            %}
          </div>
        </div>    

        {% endpaginate %}

      </div> 

    </div>
  </div>

</section>


{% schema %}
{
"name": "JP Product photos",
"class": "product-photos-section overlaid-header-option",
"settings": [
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Products per page",
      "min": 2,
      "max": 99,
      "step": 1,
      "default": 48,
      "info": "Decrease this if the page is taking to long to load."
    },
{
"type": "header",
"content": "Section headings"
},
{
"type": "color",
"id": "text-color",
"label": "Text"
},
{
"type": "color",
"id": "photos-background-color",
"label": "Background"
},
{
"type": "header",
"content": "Photos"
},
{
"type": "text",
"id": "target-aspect-ratio",
"label": "Desired Aspect Ratio",
            "default": "1.0"
},
{
"type": "textarea",
"id": "instructions-too-tall",
"label": "Instructions when image is too tall",
            "default": "Need to crop top and bottom"
},
{
"type": "textarea",
"id": "instructions-too-wide",
"label": "Instructions when image is too tall",
            "default": "Need to crop sides"
},
{
"type": "select",
"id": "photo-size",
"label": "Photo size",
"default": "small",
"options": [
  {
  "value": "small",
  "label": "Small"
  },
  {
  "value": "medium",
  "label": "Medium"
  },
  {
  "value": "large",
  "label": "Large"
  }
]
},
{
"type": "header",
"content": "Layout"
},
{
"type": "range",
"id": "padding_top",
"label": "Top spacing",
"min": 0,
"max": 80,
"default": 20,
"unit": "px"
},
{
"type": "range",
"id": "padding_bottom",
"label": "Bottom spacing",
"min": 0,
"max": 80,
"default": 0,
"unit": "px"
},
{
"type": "range",
"id": "padding_left",
"label": "Left spacing",
"min": 0,
"max": 80,
"default": 0,
"unit": "px"
},
{
"type": "range",
"id": "padding_right",
"label": "Right spacing",
"default": 0,
"min": 0,
"max": 80,
"unit": "px"
},
{
"type": "select",
"id": "animation",
"label": "Animation",
"default": "none",
"options": [
{
"value": "none",
"label": "None"
},
{
"value": "fadeIn",
"label": "Fade in"
},
{
"value": "fadeInDown",
"label": "Fade in down"
},
{
"value": "fadeInLeft",
"label": "Fade in left"
},
{
"value": "fadeInRight",
"label": "Fade in right"
},
{
"value": "slideInLeft",
"label": "Slide in left"
},
{
"value": "slideInRight",
"label": "Slide in right"
},
{
"value": "zoomIn",
"label": "Zoom in"
}
]
},
{
"type": "header",
"content": "Advanced",
"info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
},
{
"type": "text",
"id": "css_class",
"label": "CSS Class"
},
{
"type": "textarea",
"id": "custom_css",
"label": "Custom CSS"
}
],

"presets": [{
"name": "JP Product photos",
"category": "JadePuma"
}]
}

{% endschema %}